body{
    background-image: url(./1.jpg);
    height: 1000px;
    margin: 0%;
   
   }
   .menu{display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: aliceblue;
    /* width: 100%; */
    height: 29px;
    justify-content:space-around;
    background-color:rgb(245, 31, 27) ;
}
#linkdin{
    color: white;
    text-decoration: none;
    border-radius: 10px;
    padding:50px 50px;
    width: 100px;
    /* background-color: orange; */
    background-image:linear-gradient(25deg ,orange ,tomato,red) ;
    padding-bottom:5px ;
    }
    #linkdin:hover{color: white;
        text-decoration: none;
        border-radius: 10px;
        /* padding:50px ; */
        width: 110px;
        /* background-color: orange; */
        background-image:linear-gradient(25deg ,tomato,red,orange ) ;

    }


   .top{
    /* border:2px red dashed; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    justify-items: center;
    position: relative;
    height: 500px;
    align-items: stretch;
    padding: 2px;
   }
   .container_top-1{display: block;
   /* border: 1px  black solid; */
   width: 300px;
   /* left: ; */
   padding-bottom: 5px;
   
   }
.container_top-2{display: flex;
     flex-wrap: wrap;
     width: 54%;
     /* margin-top:100px ; */
     /* border: 1px solid red; */
    }

   #img-1{
   top:0%;
   height: 100%;
   border-radius: 200px;
}
   
   #welcome{
    color:#485460;
    font-size: 36px;}
   #p1{
     font-size: 25px;
   }
   .iam{
    color: #1a5b97; 
    font-size: 56px;
   } #lorem{
    
        font-size: 25px;
        color: black;
        width: 310px;
   }
   #button-1{
    color: whitesmoke;
    background-image:linear-gradient(25deg ,orange ,tomato,red) ;
    border: orange 1px solid;
    border-radius:2px 9px;
    height: 40px;
    width: 100px;
   }
   #button-1:hover{
    background-color: rgba(227, 246, 15, 0.233);
    height: 41px;
    /* width: 100px; */
    color: white;
    background-image:linear-gradient(25deg ,tomato,red,orange ) ;
    width: 101px;

   } 
    
.container_top-3{
    /* border: 1px blue dotted; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* height: 60%; */
    justify-items: center;
    /* bottom: 100px; */
    opacity: .2;
}

.container_mid-3{
    /* border: 1px blue dotted; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* height: 60%; */
    justify-items: center;
    /* bottom: 100px; */
    opacity: .2;
    position: relative;
    left: -2px;
} 



   #para-2{ font-size: 25px;
    color: black ;
    /* border-left: 1px black solid; */
   }
    
.container-2{
         display: flex;
         /* flex-direction: row; */
         /* flex-wrap: nowrap; */
         justify-content: space-between;
         /* position: relative; */
         height: 490px;
         align-items: stretch;
         margin-top: 30px;
         margin-bottom: 30px;
         margin-left: 3px;
         }
   #img-2{
    top:0%;
    height: 100%;
    /* margin-top: 10px; */
    position: relative;
    border-radius: 50px ; 
    /* margin: 5px; */
    }
    
.container-2_1{
    margin-left: 28px;
    position: relative;
    display: flex;
    flex-direction: column;
    /* border: 1px black solid; */
    width: 337px;
    }
    #button-mid{
        color: brown;
        background-color: yellow;
        border-radius:2px  9px;
        height: 25px;
        width: 120px;
       }
       #button-mid:hover{
        background-color: rgb(246 167 36);
        height: 26px;
        width: 125px;
        color: rgb(255, 255, 255);
       } 

 /* 3rd part */
 
.container-3{
 
        display: flex;
        flex-direction: column;
           justify-content: center;
           position: relative;
           margin-top: 10px;
           padding-bottom:15px;
           align-items: center;
       }
       /* mid-last */
 #tex_box{
        display: flex;
        position: relative;
        width: 500px;
        height: 20px;
        border-radius: 5px;
        justify-items: center;
        color: white;
        background-color:rgb(81, 150, 81);
        margin-bottom: 10px;
    }
    #button-info{
        color: whitesmoke;
        background-image:linear-gradient(25deg ,green,rgb(16, 154, 69),rgb(109, 190, 15) ) ;
        border-radius:2px 9px;
        height: 40px;
        width: 101px;
        border: green;
        
       }
       #button-info:hover{
        background-color: rgba(227, 246, 15, 0.233);
        height: 40px;
        /* width: 100px; */
        color: white;
        background-image:linear-gradient(25deg ,green,rgb(17, 221, 17),rgb(0, 179, 81) ) ;
        width: 101px;
        border: green;
        
       } 
       /* Last part */
       #last_backgrond{
        border-radius: 5px;
        background-image: linear-gradient(30deg,black,red);
        /* background-image: url(9.jpg); */
        height: 100%;
        background-size: 100%;
        

       }
.last{
    /* border: #9d0757 2px solid; */
    padding:100px ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    justify-content:space-between;
    position: relative;
    padding: 10px;

    }

#pro{
    /* background-color:aliceblue ; */
    background-image: linear-gradient(25deg,#eb2f06,#eb3b5a,#fc5c65);
    height: 270px;
    width:340px;
    border-left:blue 5px solid;
    margin-left:2px ;
    position: relative;
    width: 45%;
     padding: 10px;
     border-radius: 31px;
    opacity: .9;
}
#pro:hover{opacity: 1;}
    

    
#basic{
    /* width: 360px; */
    /* background-color: #70a1ff;
     */
     background-image: linear-gradient(25deg,#ff6b81,#ffa502,#ff4757,#ff7f50);
    height:287px;
    width: 45%;  
    position: relative; 
    padding: 10px;
    border-left: rgb(50, 219, 84) solid;
    border-radius: 31px;
    opacity: .9;
    padding: 2px;
}
#basic:hover{opacity: 1;}
